@{
    ViewBag.Title = "Home";
}

 <div id="corpo">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="Images/Carousel/01.png" alt="banner 1" />
                <div class="carousel-caption"></div>
            </div>
            <div class="item">
                <img src="Images/Carousel/02.png" alt="banner 2" />
                <div class="carousel-caption"></div>
            </div>
            <div class="item">
                <img src="Images/Carousel/03.png" alt="banner 3" />
                <div class="carousel-caption"></div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <div class="border shadow" style="text-align: justify; margin-top: 0.5px">
        <div class="jumbotron">
            <h1>WT Sistemas</h1>
            <p class="lead">Tradição que traduz segurança, confiança e credibilidade em TI. Foco na segurança da informação, confiança na excelência dos serviços prestados e credibilidade oriunda da responsabilidade e dedicação ao longo de mais de 2 anos de bons serviços às empresas de pequeno, médio e grande porte.</p>
            <p><a href="javascript:loadOptions('Empresa/index', 'empresa')" class="btn btn-primary btn-large">Leia mais  <span class="glyphicon glyphicon-hand-up"></span></a></p>
        </div>
        
        <div class="row">
            <div class="col-md-4 margin_left20">
                <h3><img src="~/Images/Icones/segurança.png" /> ASP NET e MySQL rápido, seguro e confiável</h3>
                <p>A linguagem de programação ASP NET é de fácil acesso pois está presente em mais de 95% dos serviços de hospedagem do mercado. Além disso conta com recursos avançados e segurança aprimorada, tornando seu site robusto e totalmente funcional.</p>
                <p><a class="btn btn-default" href="javascript:loadOptions('paginas/servicos.html', 'servicos', 'servico1')">Leia mais  <span class="glyphicon glyphicon-hand-up"></span></a></p>
            </div>
            <div class="col-md-4 margin_left5">
                <h3><img src="~/Images/Icones/ajax.png" /> AJAX o futuro agora é o presente!</h3>
                <p>A tecnologia AJAX é a união de outras linguagens de programação que facilita e muito não somente a produção mas também o gerenciamento de conteúdo do site. Rápido e com respostas quase instantânesa, o AJAX proporciona uma experiência agradável na web.</p>
                <p><a class="btn btn-default" href="javascript:loadOptions('paginas/servicos.html', 'servicos', 'servico2')">Leia mais  <span class="glyphicon glyphicon-hand-up"></span></a></p>
            </div>
            <div class="col-md-3-5 margin_left5">
                <h3><img src="~/Images/Icones/html5.png" /> HTML 5 e CSS3 aparência incrível</h3>
                <p>As mais novas tecnologias web são utilizadas garantindo um visual limpo, organizado e empolgante. Conforto total ao utilizar o sites fazendo com que os visitantes retornem sempre! Não basta ser funcional, tem que ser bem acabado e que agrade aos olhos de quem usa.</p>
                <p><a class="btn btn-default" href="javascript:loadOptions('paginas/servicos.html', 'servicos', 'servico3')">Leia mais  <span class="glyphicon glyphicon-hand-up"></span></a></p>
            </div>
        </div>

        <div class="alert alert-info margin_left10 margin_right10">
            <h2 class="pager">  
                <span class="glyphicon glyphicon-hand-right"></span>  Nós programamos <b>TUDO O QUE VOCÊ IMAGINAR PARA A WEB</b></h2>
            <p class="lead">Se o seu projeto é semelhante a algo que já exista, nós produzimos sua idéia. Se o que você quer nunca foi feito, fazemos do jeito que você imaginou!</p>
        </div>

        <div class="float infobox-container arredondar" style="background-color: #808080; margin-left: 20px; margin-right: 20px; margin-top: 20px">
            <div class="infobox">
                <h3 id="toc3"><span class="margin_left20"></span><i class="icon-info-sign icon-white margin_top5"></i><span> Atenção</span></h3>
                
                <p>Horários de funcionamento do chat:</p>
                <p>Segunda á Sexta das 08:30 ás 20:00 </p>
                <p>Sábados, Domingos e Feriados das 12:00 ás 18:00 </p>
                <br />
                <i class="icon-exclamation-sign icon-white margin_top3" style="float: left; margin-right: 5px"></i>
                <p><b>Por gentileza, responda a nossa perquisa de satisfação, que irá aparecer no seu navegador, quando seu atendimento for finalizado.</b></p>
                
                <br />
            </div>
        
            <div class="triangle-l abaTriangle-l" style="margin-left: -14px;"></div>
            <div class="triangle-r abaTriangle-r" style="margin-left: 0px;"></div>
        </div>

        <div class="row">
            <div class="col-md-4 margin_left20">
                <h3><img src="~/Images/Icones/configuracao.png" /> Painel de Gerenciamento</h3>
                <p>Administrar um site já é trabalhoso por si só, por isso tomamos o cuidado de facilitar o máximo suas tarefas através de controles intuitivos em um painel seguro e fácil de usar.</p>
                <p><span class="glyphicon glyphicon-cog"></span> Menus de funções simplificados e intuitivos.</p>
                <p><span class="glyphicon glyphicon-cog"></span> Controle os diversos detalhes de seu projeto de forma descomplicada e funcional.</p>
            </div>
            <div class="col-md-4 margin_left5">
                <h3><img src="~/Images/Icones/celular.png" /> Programação Responsiva</h3>
                <p>Se a forma como as pessoas usam a internet mudou, nós acompanhamos esta evolução e estamos prontos a programar seu site de maneira acessivel e responsiva.</p>
                <p><span class="glyphicon glyphicon-star-empty"></span> 100% de compatibilidade em celulares e tablets.</p>
                <p><span class="glyphicon glyphicon-star-empty"></span> Adaptabilidade de conteudo independente de resolução do monitor de seu visitante.</p>
            </div>
            <div class="col-md-3-5 margin_left5">
               <h3><img src="~/Images/Icones/layout.png" /> Criação de Layout</h3>
                <p>Não importa se faltou inspiração ou tempo, se precisar temos uma equipe de criação pronta para ajuda-lo a aprovar belas e boas idéias.</p>
                <p><span class="glyphicon glyphicon-share-alt"></span> Layouts compatíveis com as últimas técnologias web.</p> 
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 margin_left20">
                <h3><img src="~/Images/Icones/servicesParados.png" /> Instalação de CMS</h3>
                <p>Não importa quem produziu, se seu projeto esta ai parado por falta de tempo ou conhecimento técnico, deixe-nos ajuda-lo a colocar seu site nas nuvens.</p>
                <p><span class="glyphicon glyphicon-share-alt"></span> Agilidade na instalação de CMS´s independente de quem os produziu.</p>
            </div>
            <div class="col-md-4 margin_left5">
                <h3><img src="~/Images/Icones/projetosCompletos.png" /> Projetos completos</h3>
                <p>Estamos disponíveis para dar toda a assistência para que sua agência tenha mais qualidade e menor tempo de resposta.</p>
            </div>
            <div class="col-md-3-5 margin_left5">
               <h3><img src="~/Images/Icones/maisAgilidade.png" /> Mais Agilidade</h3>
                <p>Agregue mão de obra capacitada à sua agência e tenha maior velocidade de resposta na entrega de seus projetos.</p>
            </div>
        </div>

    </div>
</div>