@{
    ViewBag.Title = "Home";
}

 <div id="corpo">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="Images/Carousel/01.png" alt="banner 1" />
                <div class="carousel-caption"></div>
            </div>
            <div class="item">
                <img src="Images/Carousel/02.png" alt="banner 2" />
                <div class="carousel-caption"></div>
            </div>
            <div class="item">
                <img src="Images/Carousel/03.png" alt="banner 3" />
                <div class="carousel-caption"></div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <div class="border shadow" style="text-align: justify; margin-top: 0.5px">
        <div class="jumbotron">
            <h1>WT Sistemas</h1>
            <p class="lead">Tradição que traduz confiança e credibilidade. Confiança na excelência dos serviços prestados e credibilidade oriunda da responsabilidade e dedicação ao longo de mais de 4 anos de bons serviços às empresas de pequeno, médio e grande porte.</p>
            <p><a href="javascript:loadOptions('paginas/empresa.html', 'empresa')" class="btn btn-primary btn-large">Leia mais &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4 margin_left20">
                <h3>Serviços dedicados ou rápidos</h3>
                <p>Aluguel de veículos de todos os portes, motorista e/ou ajudante por período combinado.</p>
                <p><a class="btn btn-default" href="javascript:loadOptions('paginas/servicos.html', 'servicos', 'servico1')">Leia mais &raquo;</a></p>
            </div>
            <div class="col-md-4 margin_left5">
                <h3>Transporte de pequeno, médio e grande porte</h3>
                <p>Executamos serviços de transportes de pequeno, médio e grande porte saindo de São Paulo para todo o Brasil.</p>
                <p><a class="btn btn-default" href="javascript:loadOptions('paginas/servicos.html', 'servicos', 'servico2')">Leia mais &raquo;</a></p>
            </div>
            <div class="col-md-3-5 margin_left5">
                <h3>Transporte de Mudanças</h3>
                <p>Nossas equipes de Mudanças são compostas por: Motorista, Líder, Ajudante e Embalador. As equipes são munidas de sistema de comunicação diretamente ligada à Central de Operações em tempo real.</p>
                <p><a class="btn btn-default" href="javascript:loadOptions('paginas/servicos.html', 'servicos', 'servico3')">Leia mais &raquo;</a></p>
            </div>
        </div>
    </div>
</div>